.App {
  background-color: #F5F7D6;
  text-align: center;
}

.grid{
  background-size: 16px 16px;
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.171) 1px, transparent 0.1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.171) 1px, transparent 0.1px);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2 {
  margin: 0;
}

strong {
  color: #A10300;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.collatz {
  word-break: break-all;
}
